.footer{
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: #F9FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}